<div class="lateral__menu__container">
  <app-lateral-menu></app-lateral-menu>
</div>

<div class="main__container">
  <div class="main__top__container">
    <div class="main__top__first">
      <app-store-selector></app-store-selector>
      <app-month-selector></app-month-selector>
    </div>
    <div class="main__top__second">
      <app-stats-summary></app-stats-summary>
    </div>
  </div>
  
  <div class="main__table__container">
    <app-tabs></app-tabs>
    <app-table></app-table>
  </div>
</div>